.slidersize {
    width: 1320px;
    height: 700px;

}

.carousel-inner img {
    margin: auto;
  }

.button-size {
    
    width: 182px;
    height: 56px
    
}

#size {
    width: 606px;
    height: 190px;
    margin-top: 260px;
}