.slidersize {
    width: 1320px;
    height: 700px;

}

.carousel-inner img {
    margin: auto;
  }

.button-size {
    
    width: 182px;
    height: 56px
    
}

#size {
    width: 606px;
    height: 190px;
    margin-top: 260px;
}

.text-decoration {
    text-decoration: none;
}

#card-text {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
}

.text {
    color: #777777;
}

.barsize {
    height: 300px;
    border-radius: 5px;
}
.barcolor {
   background-color: #289BDE; 
}

.readheight {
    height: 300px;
}

.textbtn {
    color: 
    #289BDE;
}

.btnsize{
    width: 199px;
    height: 56px;
}

.cardradius {
    border-radius: 5px;
}


.feedcolor {
    background-color: #E8E8E8;

}

.borderradius {
    border-radius: 5px;
}
